{% extends 'base.html' %}

{% block title %}
    {{ creator.full_name }}
{% endblock %}

{% block content %}
    <h1 class="display-4">{{ creator.full_name }}</h1>

    <div class="creator-images">
        {% for image in creator.images.all %}
            <span class="creator-image">
                <a href="{% url 'image' image.id %}">
                    <img src="{{ image.image.url }}"
                         alt="{{ image.description }}"
                        width="150px">
                </a>
            </span>
        {% endfor %}
    </div>

    <div class="row">
        <div class="col-md-6">
            <p><strong>Země:</strong>
                <span class="badge badge-secondary">
                    {% if creator.country %}
                        <a href="{% url 'country' creator.country.id %}" class="text-white">{{ creator.country }}</a>
                    {% endif %}
                </span>
            </p>
            <p>
                <strong>Datum narození:</strong>
                {{ creator.date_of_birth|date:"j. n. Y" }}
            </p>
            {% if creator.date_of_death|date:"j. n. Y" %}
                <p>
                    <strong>Datum úmrtí:</strong>
                    {{ creator.date_of_death }}
                </p>
            {% endif %}
        </div>
        <div class="col-md-6">
            {% if creator.acting.exists %}
                <p>
                    <strong>Herec ve filmech:</strong>
                    {% for movie in creator.acting.all %}
                        <a href="{% url 'movie' movie.id %}">{{ movie }}</a>{% if not forloop.last %},{% endif %}
                    {% comment %}{% empty %}
                        Nehrál v žádném filmu. {% endcomment %}
                    {% endfor %}
                </p>
            {% endif %}
            {% if creator.directing.exists %}
                <p>
                    <strong>Režisér filmů:</strong>
                    {% for movie in creator.directing.all %}
                        <a href="{% url 'movie' movie.id %}">{{ movie }}</a>{% if not forloop.last %},{% endif %}
                    {% comment %}{% empty %}
                        Nerežíroval žádný film. {% endcomment %}
                    {% endfor %}
                </p>
            {% endif %}
            {% if creator.composing.exists %}
                <p>
                    <strong>Skladatel:</strong>
                    {% for movie in creator.composing.all %}
                        <a href="{% url 'movie' movie.id %}">{{ movie }}</a>{% if not forloop.last %},{% endif %}
                    {% comment %}{% empty %}
                        Nesložil hudbu k žádnému filmu. {% endcomment %}
                    {% endfor %}
                </p>
            {% endif %}
        </div>
    </div>
    <p><strong>Biografie:</strong></p>
    <p class="text-justify">{{ creator.biography }}</p>

    <p class="mt-3">
        <small class="text-muted">
            Přidáno do databáze: {{ creator.created|date:"j. n. Y G:i:s" }}
        </small>
    </p>
    <p>
        <small class="text-muted">
            Poslední úprava: {{ creator.updated|date:"j. n. Y G:i:s" }}
        </small>
    </p>
    {% if perms.viewer.change_creator %}
        <a href="{% url 'creator_update' creator.id %}" class="btn btn-primary">Aktualizovat</a>
    {% endif %}
    {% if perms.viewer.delete_creator %}
        <a href="{% url 'creator_delete' creator.id %}" class="btn btn-danger">Smazat</a>
    {% endif %}
{% endblock %}