{% extends 'base.html' %}

{% block title %}
    Seznam žánrů
{% endblock %}

{% block content %}
    <h1>Seznam žánrů</h1>
    <ul>
        {% for genre in genres %}
            <li>
                <a href="{% url 'genre' genre.id %}">{{ genre }}</a> ({{ genre.movies.count }})
                <ul>
                    {% for movie in genre.movies.all %}
                        <li><a href="{% url 'movie' movie.id %}">{{ movie }}</a></li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
{% endblock %}