<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container fixed">
        <a class="navbar-brand" href="{% url 'home' %}">HollyMovies</a>
        <button
                class="navbar-toggler" type="button"
                data-toggle="collapse" data-target="#navbarNavAltMarkup"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="{% url 'home' %}">Home</a>
                <a class="nav-item nav-link active" href="{% url 'movies' %}">Filmy</a>
                <a class="nav-item nav-link active" href="{% url 'creators' %}">Tvůrci</a>
                <a class="nav-item nav-link active" href="{% url 'countries' %}">Země</a>
                <a class="nav-item nav-link active" href="{% url 'genres' %}">Žánry</a>
            </div>

            <div class="navbar-nav ml-auto text-white">
                {% if user.is_authenticated %}
                    {{ user.username }}
                {% else %}
                    Nepřihlášený uživatel
                {% endif %}
            </div>
        </div>
    </div>
</nav>